<!-- Button to toggle the avatar creator popup -->
<button (click)="toggleAvatar()">Create Avatar</button>

<!-- Popup for avatar creation -->
<div class="avatar-popup" *ngIf="showAvatar">
  <!-- SVG container -->
  <svg [attr.width]="svgWidth" [attr.height]="svgHeight">
    <!-- Body Layer -->
    <g id="avatar-body"></g> <!-- Placeholder for dynamically loaded body SVG -->
    <!-- Face Layer -->
    <g id="avatar-face"></g> <!-- Placeholder for dynamically loaded hair SVG -->
    <!-- Clothes Layer -->
    <g id="avatar-clothes"></g> <!-- Placeholder for dynamically loaded hair SVG -->
        <!-- Hair Layer -->
        <g id="avatar-hair"></g> <!-- Placeholder for dynamically loaded hair SVG -->

  </svg>

  <!-- Dropdowns for customization -->
  <div>
    <label>Body Set:</label>
    <select (change)="changeBody($event)">
      <option *ngFor="let body of objectKeys(bodySvgMap)" [value]="body">{{body}}</option>
    </select>
  </div>

  <div>
    <label>Hair Set:</label>
    <select (change)="changeHair($event)">
      <option *ngFor="let hair of objectKeys(hairSvgMap)" [value]="hair">{{hair}}</option>
    </select>
  </div>

  <div>
    <label>Face Set:</label>
    <select (change)="changeFace($event)">
      <option *ngFor="let face of objectKeys(faceSvgMap)" [value]="face">{{face}}</option>
    </select>
  </div>

  <div>
    <label>Clothes Set:</label>
    <select (change)="changeClothes($event)">
      <option *ngFor="let clothes of objectKeys(clothesSvgMap)" [value]="clothes">{{clothes}}</option>
    </select>
  </div>
  
</div>
